<div class="show_main_container">
	<div class="infos-post">
		<h1><strong><%= @post.title %></strong></h1>
		<p><%= @post.content %></p>
		<p><%= link_to "There is the post", @post.url, class:"button btn_home" %></p>
	</div>
	<div class="post-comment">
		<h4><strong>Comments</strong></h4>
		<ul class="list-group">
			<% @post.comments.each do |comment| %>
				<li class="list-group-item"><%= comment.content %></li>
			<% end %>
		</ul>
	</div>
	<div class="add-comment">
		<h4><strong>Add a comment</strong></h4>
		<%= simple_form_for [@post, @comment] do |f| %>
			<%= f.input :content, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
			<%= f.submit "Submit comment", class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="back_posts">
		<%= link_to "Back to all posts", posts_path, class: "button" %>
	</div>
</div>